<nav class="navbar">
    <div class="navbar-header">
        <a href="@Url.Action("Index", "Home")" class="navbar-logo">
            <img src="~/images/logo.png" alt="Corely" />
            <span class="navbar-brand">@GymStudioOS.Constants.AppConstants.APP_NAME</span>
        </a>
    </div>
    <div class="navbar-left">

    </div>
    <div class="navbar-center">
    
    </div>
    <div class="navbar-right">

    </div>
</nav>