
@{
    ViewData["Title"] = "Home Page";
}
@using GymStudioOS.Constants;
@model IEnumerable<GymStudioOS.Models.Gym.Data.Gym>

<h1 class="text-center">Welcome to @AppConstants.APP_NAME</h1>

<h2>All Gyms</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var gym in Model)
        {
            <tr>
                <td>@gym.Name</td>
                <td>@gym.Phone</td>
                <td>@gym.Email</td>
            </tr>
        }
    </tbody>
</table>
